
@media(max-width: 570px)
{
#heading
{
	font-family:'Lemonada' , serif;
    font-size: 40px;
	text-shadow: 4px 4px 4px #aaa;
	position:relative;
	top:-30px;
}

#mylogo
{
	height:60px;
	width:60px;
	margin-right:10px;
}
}
@media(min-width: 571px)
{
#heading
{
	font-family: 'Lemonada', serif;
    font-size: 60px;
	text-shadow: 4px 4px 4px #aaa;
	top:-30px;
}
#mylogo
{
	margin-right:50px;
}
}
.navbar-header
{
	color:white;
}
div span:hover
{
	color:#609CED;
	box-shadow: inset 0 -1px white;
	border-radius:0px;
}
#heading{
		color:#609CED;
	
}
.navtop
{

	margin-left:30px;
	font-family:'Lemonada';
	font-size:1em;
	color:white;
}
div #menu ul li a:hover
{
	font-family:'Lemonada';
	background-color: #000000;
	border-radius:5px;
	color:#609CED;
	box-shadow: inset 0 -3px white;
	border-radius:0;
}
.navbar-toggle
{
	margin-left:20px;
	border-radius:10px;
	float:left;
}
.dropdown-menu
{
	font-size:1.2em;
	min-width:150px;
	line-height:300px;
	background-color:#B6B6B6;
	color:white;
}
#para
{
	line-height:35px;
	font-family:'Lemonada';
	font-size:1.5em;
	text-align:justify;
	color:white;
	text-shadow:1px 1px 2px black;
}
#para1
{
	font-family:'Lemonada';
	font-size:1.2em;
	text-align:center;
	color:#212F3C  ;
}
#photo
{
	background-image: url("a/pht.jpg "); 
	height:responsive;
	width:100%;
	background-repeat:repeat-y;
	
}
.person
{
	text-align:justify
}
h3 a:hover
{
	text-decoration:none;
}
.team
{
	padding:10px;
	background-color:#DFDFDF;
	margin-top:0;
	clear:both;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.well
{
	font-size:1.5em;
	text-align:center;
	margin:10px 0 0 0;
	font-family:'Lemonada';
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
@media(min-width: 1000px)
{
.slider-head
{
	font-family:'Montez';
	font-size:5em;
	text-shadow:1px 1px 2px black;
}
.p1
{
	font-family:'Lemonada';
	font-size:1.5em;
}
}
@media(max-width: 999px)
{
.slider-head
{
	font-family:'Montez';
	font-size:2em;
	text-shadow:1px 1px 2px black;
}
.p1
{
	font-family:'Lemonada';
	font-size:1.1em;
}
}
#footer
{
	font-family:Tempus Sans ITC Regular , Arial;
	margin-top:10px;
	margin-bottom:20px;
	clear:both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align:center;
}